/* Constants! */
:root
{
    --header-content: #d85507;
    --header-background: #FFFFFF;
    --header-shadow: #404040b0;

    --col1-content: #361D16;
    --col1-background: #FF5A37;
    --col1-background-highlighted: #F57C6D;
    --col1-background-clicked: #B4574A;
    --col1-shadow: #582828b0;

    --col2-content: #473D1E;
    --col2-background: #FFB143;
    --col2-background-highlighted: #FFBF7B;
    --col2-background-clicked: #C78D45;
    --col2-shadow: #494c34b0;

    --border: #FFFFFF;

	--link-text: #283d78; /* 5a0606*/
	--link-text-highlighted: #4061bf;
	--link-text-clicked: #5f78c0;
	--link-text-shadow: #2c4554cf;

    --backup-background: #FFFFFF;

    --transition-time: 0.0875s;
}

/* Generics/overrides */
html
{
    width: 100vw;
    height: 100vh;
    font-size: 20px;

    font-family: "Trykker", serif;
    font-weight: 400;
    font-style: normal;

    overflow-y: hidden;
    overflow-x: hidden;
}
*
{
    padding: 0;
    margin: 0;
    border: 0;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
a
{
    text-decoration: underline;
    color: var(--link-text);
    -webkit-transition: color var(--transition-time);
       -moz-transition: color var(--transition-time);
         -o-transition: color var(--transition-time);
            transition: color var(--transition-time);
    text-shadow: 1px 1px 2px var(--link-text-shadow);
}
a:hover
{
    cursor: pointer;
    color: var(--link-text-highlighted)
}
a:active
{
    color: var(--link-text-clicked)
}
.alt-font, .content-box h2 {
    font-family: "Tsukimi Rounded", sans-serif;
    font-weight: 600;
    font-style: normal;
}
li {
    margin-left: 15px;
    margin-bottom: 3px;
}

/* Background */
#background-image
{
    z-index: -1;
    position: fixed;
    top: calc(-2*var(--blur-size));
    min-width: calc(100vw + 2*var(--blur-size));
    min-height: calc(100vh + 2*var(--blur-size));
    height: auto;
    background-color: var(--backup-background);

    text-align: center;
    align: center;
    align-content: center;
    vertical-align: middle;

    filter: blur(var(--blur-size));
}

/* Main page organization */
body
{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#main-scroller
{
    width: 100vw;
    height: max-content;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: var(--col2-content) var(--col2-background);
}
#page-header
{
    height: fit-content;
    padding: 15px 20px 30px 20px;
    margin: 40px 20px;
    background-color: var(--header-background);
    box-shadow: 4px 4px 4px var(--header-shadow);
    border-radius: 20px;

    text-align: center;
}
#page-header *
{
    max-width: 370px;
}
#page-header h1
{
    font-size: 48px;

    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}
.col-container
{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));;
}
.mini-col
{
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.content-box
{
    min-width: fit-content;
    height: fit-content;
    padding: 15px 32px 20px 32px;
    margin: 0px 20px 30px 20px;

    border: 4px solid var(--border);
    border-radius: 20px;

    text-align: left;
    text-wrap: wrap;
}
.content-box *:not(img)
{
    max-width: 55vw;
    text-wrap: wrap;
}
.content-box img
{
    max-width: 55vw;
    text-wrap: wrap;
}
.content-box p:not(.no-indent)
{
    text-indent: 2em;
}
.content-box.col1
{
    color: var(--col1-content);
    background-color: var(--col1-background);
    box-shadow: 4px 4px 4px var(--col1-shadow);
}
.content-box.col2
{
    color: var(--col2-content);
    background-color: var(--col2-background);
    box-shadow: 4px 4px 4px var(--col2-shadow);
}
/*.content-box.col1:hover { background-color: var(--col1-background-highlighted); }
.content-box.col1:active { background-color: var(--col1-background-clicked); }
.content-box.col2:hover { background-color: var(--col2-background-highlighted); }
.content-box.col2:active { background-color: var(--col2-background-clicked); }*/
.content-box h2
{
    padding: 5px 15px;
    text-align: center;
}
spacer
{
    min-height: 50px;
}
